/* reset CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.image {
    max-width:100%;
    height: auto;
    
}

.container {
    
    justify-content: center;    
    text-align: center;
    width: 90%;
    max-width: 350px;
    min-width: 345px;
    height: auto;
    margin: 0 auto;
    margin-top: 1%;
    
}

.container h1 {
    margin-bottom: 4%;
}

#app h3, h2 {
    margin-bottom: 10%;
    
}

#app h3 {
    margin:1%;
}

.container ul {
    padding: 0;
}

.topNav {
    width: 100%;
    height:65px;
    clear: both;
}

.topNavBack {
    float: left;
    cursor: pointer;
    padding: 8px 4px 0px 8px;
}

.topNavText {
    float: left;
     padding: 8px 0px 0px 20px;
    width: 65%; 
}

.topNavHome {
    float: right;
    cursor: pointer;
    padding: 8px 0px 4px 8px;
}

.nav  {
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    
    
}


.nav li {
    list-style-type: none  ;
    margin: 0px 0px 15%;
    font-size: 24px;
    display: block;
    
}

.nav li a {
    text-decoration: none;
    color: inherit;
    
    
    
}

 .nav li a:after {
    content: '';
    float: right;
    background: url("/images/arrow.png") no-repeat;
    width: 11px;
    height: 17px;
    margin-top: 4%;
    margin-left: 25px;
    
}

u {
    display: block;
    font-size: 20px;
    margin-bottom: 3%;
    text-align: left;
}

.guide {
    margin-top: 10%;
}

.chems {
    display: inline-block;
    text-align: left;
    font-size: 20px; 
    
}

.chems li {
    margin-bottom: 10%;
}



.procedures {
    display: inline-block;
    text-align: left;
    font-size: 18px; 
    max-width: 85%;
    
}

