/* reset CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

.image {
    max-width:100%;
    height: auto;
    
}

.container {
    
    justify-content: center;    
    text-align: center;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    
}

.container h1 {
    margin-bottom: 2%;
}

#app h3, h2 {
    margin-bottom: 2%;
    
}

.container ul {
    padding: 0;
}

.nav  {
    display: inline-block;
    text-align: left;
    
    
}


.nav li {
    list-style-type: none  ;
    margin: 0px 0px 25%;
    font-size: 24px;
    display: block;
    
}

.nav li a {
    text-decoration: none;
    color: inherit;
    
    
    
}

 .nav li a:after {
    content: '';
    float: right;
    background: url("/images/arrow.png") no-repeat;
    width: 11px;
    height: 17px;
    margin-top: 4%;
    margin-left: 25px;
    

    
    
    
}

/* CSS below is for the test, keeping for debugging purposes

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
} 
end of pwa-test css */