/* reset CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;

}

/* sets default font to use em units */
html {
    font-size: 16px;
}


.image {
    max-width: 100%;
    height: auto;

}

/* setting container width based on screen size */
@media only screen and (max-width:499px) {
    .container {
        width: 90vw; 
    }
}
@media only screen and (min-width:500px) and (max-width:1600px) {
    .container {
        width: 60vw; 
    }
}
@media only screen and (min-width:1601px) {
    .container {
        width: 25vw; 
    }
}

.container {

    justify-content: center;
    text-align: center;        
    height: auto;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%; 


}


.container h1 {
    margin-bottom: 4%;
}

#app h3,
h2 {
    margin-bottom: 10%;

}

#app h3 {
    margin: 1%;
}

.container ul {
    padding: 0;
}

.topNav {
    width: 100%;
    height: 65px;
    clear: both;
}

.topNavBack {
    float: left;
    cursor: pointer;
    padding: 8px 4px 0px 8px;
}

.topNavText {
    float: left;
    padding: 8px 0px 0px 20px;
    width: 65%;
}

.topNavHome {
    float: right;
    cursor: pointer;
    padding: 8px 0px 4px 8px;
}


/* CSS for the Category links */
.nav {
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    background: url(/images/arrow.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    width: 100%;
    cursor: pointer;
    height: 50px;


}

/* CSS for the Category links */
.cat {
    list-style-type: none;
    margin: 0px 0px 15%;
    font-size: 1.3em;
    display: block;
    text-decoration: none;
    color: inherit;

}

u {
    display: block;
    font-size: 1.3em;
    margin-bottom: 3%;
    text-align: left;
}

.guide {
    margin-top: 10%;
}

.chems {
    display: inline-block;
    text-align: left;
    font-size: 1.3em;

}

.chems li {
    margin-bottom: 10%;
}

/* sets text css for info sections */
p {
    text-align: left;
    margin: 10px;
    font-size: 1.125em;
}

.procedures {
    display: inline-block;
    text-align: left;
    font-size: 1.125em;
    max-width: 85%;

}

/* Css for interlinksupply link on dashboard */

.storeLink-menu {
    position: relative;
    color: gray;
    margin-top: 20%;
}

.storeLink-menu:hover .storeLink {
    display: block;
}

.storeLink-menu:hover {
    color: #c8322e;
}

.storeLink {
    color: gray;
    display: none;
    padding: 12px 16px;
    
}

.storeLink a {
    text-decoration: none;
    color: gray;
}

.storeLink a:hover {

    color: #c8322e;
}

/* CSS for search */

#myInput {
    background-image: url('/images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#searchDash {
    cursor: pointer;
}

/* CSS for blog link */

.blog {
    margin-top: 20px;
}